/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
  background: url(assets/burger-friends.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: center top;
  margin: 0;
}

.hidden {
  display: none;
}

.top-banner {
  position: fixed;
  justify-content: space-between;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  background: #0fb9b1;
  padding-left: 30px;
  display: flex;
}

.top-banner > button {
  font-size: large;
  border-radius: 6px;
  border: hidden;
  padding: 12px;
  margin-right: 100px;
  margin-bottom: 20px;
  margin-top: 20px
}

.left-box {
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  background: rgba(225, 225, 225, .9);
  float: left;
  width: 400px;
  height: 300px;
  padding: 100px;
  margin-top: 150;
  margin-left: 200px;
}

.required {
  color: #ee5253;
}
.right-box {
  text-align: center;
  width: 400px;
  height: 300px;
  background: rgba(225, 225, 225, .9);
  float: right;
  padding: 100px;
  margin-top: 150px;
  margin-right: 200px;
}

.buttons > input {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  padding-top: 30px;
  margin-top: 30px;
}

.buttons > label {
  font-weight: normal;
  font-size: 25px;
}

.lets-cook-button {
  background: #0fb9b1;
  margin-top: 30px;
  font-size: 20px;
  border-radius: 6px;
  border: hidden;
  padding: 10px 50px 10px 50px;
}

.cookpot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 225px;
  width: 225px;
}

.right-box > h2 {
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
  margin-bottom: 5px;
}

.right-box > h3 {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  margin-top: 0px;
  margin-bottom: 5px;
}

.bottom-nav {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(225, 225, 225, .9);
  position: fixed;
  bottom: 0;
  width: 100%;
  float: left;
  padding: 20px;
  margin-bottom: 0;
}

.bottom-nav > label {
  padding: 10px;
  margin-left: 10px;
}

.bottom-nav > input {
  padding: 10px;
}

.bottom-nav > button {
  background: #0fb9b1;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
  border-radius: 6px;
  border: hidden;
  padding: 10px;
}
